.user-card { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: hsl(253, 33%, 47%);
    color: wheat;
    z-index: 0;
}

.user-card p { 
    position: relative;
    color: wheat;
    transition: all ease-in-out 300ms;
    z-index: 1;
}

.clip-path {
    clip-path: circle(30% at 0% 0%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: tomato;
    transition: all ease-in-out 300ms;
    z-index: 2;
}

.user-card:hover .clip-path {
    clip-path: circle(75%);
    transition: all ease-in-out 300ms;
    z-index: 1;
}
 
.user-card:hover p {
    color: hsl(253, 33%, 47%);
}